@import "tailwindcss";

.noise-canvas-component{
    @apply flex flex-col gap-2 border-2 border-white rounded-md;
}

.settings-section{
    @apply flex flex-col gap-1 p-4;
    
    h2{
        @apply text-xl font-bold text-left;
    }
}

.settings-section__container-controls{
    @apply flex flex-col gap-1;

    .setting-control-container{
        @apply flex flex-col items-stretch;

        .noise-color-preview{
            height: 20px;
            width: 20px;
        }
    }

    .setting-label-container{
        @apply flex flex-row justify-between;
    }
}

.noise-container{
    @apply flex flex-col items-start gap-2 p-4 overflow-auto;

    .noise-container__header{
        @apply flex self-stretch justify-between items-center;
    }

    .noise-canvas{
        box-shadow: 4px 4px 4px rgb(0,0,0, 0.3);
    }
}


