@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section{
  @apply grow shrink basis-0 bg-neutral-800 rounded-md text-white;
  box-shadow: 4px 4px 4px rgba(0,0,0, 0.2);
}

.input-number{
  @apply bg-neutral-50 text-black rounded-sm text-right pr-1 w-[80px];
}

.button-01{
  @apply bg-orange-600 text-white rounded-sm p-1 px-4 hover:cursor-pointer;
}

.svg-button{
  @apply text-xl hover:cursor-pointer hover:scale-110 select-none;
}



input[type="range"]{
  -webkit-appearance: none;
  appearance: none;
  margin-top: 4px;
  width: 100%;
  height: 6px;
  background: transparent;
  border-radius: 4px;
  outline: none;
}

/* Estiliza o polegar do slider para navegadores baseados em WebKit (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  @apply bg-orange-600;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: -6px;
}

/* Estiliza o polegar do slider para Firefox */
input[type="range"]::-moz-range-thumb{
  width: 16px;
  height: 16px;
  @apply bg-orange-600;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: -6px;
}

/* Cor do trilho preenchido antes do polegar para WebKit */
input[type="range"]::-webkit-slider-runnable-track{
  @apply bg-orange-900;
  height: 6px;
  border-radius: 4px;
}
















